@import "../../theme/variables.scss";
.app {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  .appContent {
    position: relative;
    padding-top: 3.5rem;
    min-height: calc(100vh - 3.5rem - 2px);
  }
}
